{% extends 'base.html.twig' %}

{% block title %}Создание нового урока для курса "{{course.title}}"{% endblock %}

{% block body %}
    <div class="d-flex flex-column mx-3">
        <h3>Новый урок</h3>
        <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{ course.title }}</a>
        <div class="d-flex flex-column mt-3">
            {{ include('lesson/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
