{% extends 'base.html.twig' %}

{% block title %}Создание нового урока для курса "{{lesson.course.title}}"{% endblock %}

{% block body %}
    <div class="body_block">
        <h1>оздание нового урока для курса "{{lesson.course.title}}"</h1>
        {{ include('lesson/_form.html.twig') }}
        <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться</a>
    </div>
{% endblock %}
