{% extends 'base.html.twig' %}

{% block title %}Создание нового урока для курса "{{course.title}}"{% endblock %}

{% block body %}
    <div class="body_block">
        <h1>Создание нового урока для курса "{{course.title}}"</h1>
        {{ include('lesson/_form.html.twig') }}
        <a href="{{ path('app_course_show', {'id': course.id}) }}">Вернуться</a>
    </div>
{% endblock %}
